<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="seguros, seguro, cobertura, auto, seguro auto, cobertura hogar, hogar">
    <meta name="description" content="Consulta sobre seguro, administracion, asesoramiento">
    <link rel="stylesheet" href="../style/receteo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">         
    <link rel="stylesheet" href="../style/style2.css">
    <title>Consultas, asesoramiento, siniestros</title>
</head>
<body >

   <div class="container-consultas">

        <div class="container-menu">
            
                        
            <div class="logo"><h1 class="titulo"> <a href="../index.html"> Seguros Gemini</a></h1>
                
            </div>
                    <ul>
                        <li>  <a href="../index.html">Home</a> </li>
                        <li> <a href="./productos.html">Productos</a>   
    
                            <ul class="subMenu">
                                <li><a href="./productos.html">Asegurar Auto</a></li>
                                <li><a href="./productos.html">Asegurar Hogar</a></li>
                            </ul>
                        
                        </li>
                        <li> <a class="somos" href="./quienesSomos.html">Quienes somos</a> </li>
                        <li>  <a href="./siniestros.html">Siniestros</a> </li>
                        <li>  <a href="./consultas.html">Consultas</a> </li>
    
                    </ul>
            </div>

        <div class="caja-consultas">

            <div class="titulo-consultas">

                    <h3 class="titulo-consultt">HACENOS TU CONSULTA</h3>
            </div>

            <div class="cajita-de-consultas">

            <fieldset>
    
                <form action="" >
    
                    <label for="consulta">Selecciona tipo de consulta:</label>
                    <select name="consultas">
    
                        <option value="administrativo">Consulta Administrativa</option>
                        <option value="informacion">Información de Producto</option>
                        <option value="quejas">Quejas o sugerencias</option>
                        <option value="productor">Soy productor y quiero sumarme a Gemini Seguros</option>
                        <option value="otros">Otras consultas</option> 
    
                    </select> <br>
    
    
                    <label for="nombre">Nombre y apellido: </label> <br>
                    <div class="row">
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Nombre Completo" aria-label="First name">
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="Apellido" aria-label="Last name">
                        </div>
                      </div>
    
                    <label for="dni">DNI: </label> <br>
                    <input type="text" name="dni" placeholder="Tu DNI"> <br>
    
                    <label for="dni">Seleccionar Género: </label> <br>
    
                    <label for="hombre">Hombre</label>
                    <input type="radio" name="sexo" value="hombre">
                    <label for="mujer">Mujer</label>
                    <input type="radio" name="sexo" value="mujer">
                    <label for="no binario">No Binario</label>
                    <input type="radio" name="sexo" value="no binario"> <br>
    
                    <label for="telefono">Teléfono: </label> <br>
                    <input type="tel" name="telefono" placeholder="Tu teléfono"> <br>
    
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                      </div>
                      <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" cols="70"></textarea>
                      </div>
    
                    <input class="boton-consultas" type="submit"  value="Enviar">
                    <input class="boton-consultas" type="reset"  value="Reiniciar">
                </form>
    
                </fieldset>
            </div>


        </div>
        
        <div class="footer">

            <div class="titulo-gemini"> 
              
                <div class="titulo-footer"><h2>Seguros Gemini</h2> 
   
                  <div class="fotitos-de-media">
  
                
                    <ul>
                        <li><a class="iconos-pie" href="https://www.facebook.com/"><img src="../img/iconoFacebook.JPG" alt=""></a> </li>
                        <li><a class="iconos-pie" href="https://twitter.com/"><img src="../img/IconoTwitter.JPG" alt=""> </a></li>
                        <li><a class="iconos-pie" href="https://youtube.com/"><img src="../img/iconoYoutube.JPG" alt=""></a> </li>
                        <li><a class="iconos-pie" href="https://instagram.com/"><img src="../img/iconoInstagram.JPG" alt=""></a> </li>
                        <li><a class="iconos-pie" href="https://www.linkedin.com/"><img src="../img/IconoTwitter.JPG" alt=""></a> </li>
                    </ul>
                  
                </div>
  
                </div> 
  
  
         
  
            </div>
  
            <div class="menu-footer">
              <div class="grilla">
                  <h4>Nosotros</h4>
                  <ul>
                      <li>
                          <a href="/nosotros">Nosotros</a>
                      </li>
  
                      <li>
                          <a href="#">Blog</a>
                      </li>
                      
                      <li>
                          <a href="#">Politicas de Privacidad</a>
                      </li>
                  </ul>
              </div>
  
              <div class="grilla">
                  <h4>Clientes</h4>
                  <ul>
                      <li>
                          <a href="#">Contacto</a>
                      </li>
  
                      <li><a href="#">Preguntas Frecuentes</a>     
                      </li>
                  </ul>
              </div>
  
              <div class="grilla">
                  <h4>Contacto</h4>
                  <ul>
                      <li>
                          <a href="#">Cotizá tu Auto</a>
                      </li>
  
                      <li>
                          <a href="#">atencionalcliente@gemini.com.ar</a>
                      </li>
  
                      <li>
                      <p> 0810-333-SEGURO(2668) </p>
                      </li>
  
                      <li>
                      <p> Av. Bartolomé Mitre 1249 P.B. "B" (B1604AKE), Florida Oeste, Buenos Aires, Argentina.</p>
                      </li>
                  </ul>
              </div>
        </div>   
  
        </div>

    </div>

    
</body>
</html>