<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="seguros, seguro, cobertura, auto, seguro auto, cobertura hogar, hogar">
    <meta name="description" content="Cobertura todo riesgo, terceros completos, responsabilidad Civil,
     cualquier tipo de cobertura, franquicia, rebaja, beneficios">
    <link rel="stylesheet" href="../style/receteo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">         
    <link rel="stylesheet" href="../style/style2.css">

    <title>Coberturas Todo riesgo, Terceros Completos, Responsabilidad Civil y beneficios</title>
</head>
<body>

    <div class="container-productos">

        <div class="container-menu">
            
                        
            <div class="logo"><h1 class="titulo"> <a href="../index.html"> Seguros Gemini</a></h1>
                
            </div>
                    <ul>
                        <li>  <a href="../index.html">Home</a> </li>
                        <li> <a href="productos.html">Productos</a>   

                            <ul class="subMenu">
                                <li><a href="productos.html">Asegurar Auto</a></li>
                                <li><a href="productos.html">Asegurar Hogar</a></li>
                            </ul>
                        
                        </li>
                        <li> <a class="somos" href="quienesSomos.html">Quienes somos</a> </li>
                        <li>  <a href="siniestros.html">Siniestros</a> </li>
                        <li>  <a href="consultas.html">Consultas</a> </li>

                    </ul>
            </div>

            <div class="principal-productos">

                <section class="cajitas">
        
                    <div class="cajita">
                            <div class="contenido-de-cajita">
        
                                    <div class="box1">
                                            <h3 class="titulos-planes"> <strong> Estandar:</strong> Responsabilidad Civil</h3>
                                            <ul>
                                                <li>  <p>Te cubrimos ante responsabilidad civil.</p> </li>
                                            </ul>
                                            <a href="#" class="boton azul boton-plan boton-productos">Contratar Online </a>
                                    </div>
        
        
                                    <div class="box2">
        
                                        <ul class="lista-de-cobertura">
        
                                            <li>  <p class="negrita">  Este plan incluye:</p> 
                                            </li> 
        
                                            <li>  <div class="img-texto">
                                                        <div class="like"></div>
                                                        <p class="negrita texto-con-icon">  Responsabilidad Civil</p>
                                                    </div>
                                            </li>  
        
                                            <li><p class="semititulo">Este plan no incluye:</p> 
                                            </li>
        
                                            <li>
                                                <div class="img-texto">   
                                                    <div class="dislike"></div>
                                                    <p class="negrita texto-con-icon"> Daños parciales con franquicia </p>
                                                </div> 
                                            </li>   
        
                                            <li>
                                            <div class="img-texto">   
                                                    <div class="dislike"></div>
                                                    <p class="negrita texto-con-icon"> Robo e incendio parcial </p>
                                                </div> 
                                            </li>
                                            
                                            <li>
                                                <div class="img-texto">   
                                                    <div class="dislike"></div>
                                                    <p class="negrita texto-con-icon"> Incendio, daños y robo total </p>
                                                </div> 
                                            </li>
        
                                            <li>
                                                <div class="img-texto">   
                                                    <div class="dislike"></div>
                                                    <p class="negrita texto-con-icon"> Cristales </p>
                                                </div>
                                            </li>
        
                                            <li>
                                                <div class="img-texto">   
                                                    <div class="dislike"></div>
                                                    <p class="negrita texto-con-icon"> Cerradura </p>
                                                </div> 
                                            </li>
        
                                            <li>
                                                <div class="img-texto">   
                                                    <div class="dislike"></div>
                                                    <p class="negrita texto-con-icon"> Granizo </p>
                                                </div> 
                                            </li>
        
                                            <li>
                                                <div class="img-texto">   
                                                    <div class="dislike"></div>
                                                    <p class="negrita texto-con-icon"> Daños parciales por inundacion </p>
                                                </div> 
                                            </li>
        
                                        </ul>
        
                                    </div>
        
                            </div>
                    </div>
        
        
                    <div class="cajita">
                        <div class="contenido-de-cajita">
        
                            <div class="box1">
        
                                <h3 class="titulos-planes"> <strong> Base:</strong> Terceros Básico</h3>
        
                                <ul>
                                    <li>  <p>Te cubrimos robo, incendio y destrucción total.</p> </li>
                                </ul>
                                
                                <a href="#" class="boton azul boton-plan boton-productos">Contratar Online </a>
        
                        </div>
        
        
                        <div class="box2">
        
                            <ul class="lista-de-cobertura">
        
                                <li>  <p class="negrita">  Este plan incluye:</p> 
                                </li> 
        
                                <li>  <div class="img-texto">
                                            <div class="like"></div>
                                            <p class="negrita texto-con-icon">  Responsabilidad Civil</p>
                                        </div>
        
                                        <li>
                                            <div class="img-texto">   
                                                <div class="like"></div>
                                                <p class="negrita texto-con-icon"> Incendio, daños y robo total </p>
                                            </div> 
                                        </li>
                                </li>  
        
                                <li><p class="semititulo">Este plan no incluye:</p> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="dislike"></div>
                                        <p class="negrita texto-con-icon"> Daños parciales con franquicia </p>
                                    </div> 
                                </li>   
        
                                <li>
                                <div class="img-texto">   
                                        <div class="dislike"></div>
                                        <p class="negrita texto-con-icon"> Robo e incendio parcial </p>
                                    </div> 
                                </li>
                                
                   
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="dislike"></div>
                                        <p class="negrita texto-con-icon"> Cristales </p>
                                    </div>
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="dislike"></div>
                                        <p class="negrita texto-con-icon"> Cerradura </p>
                                    </div> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="dislike"></div>
                                        <p class="negrita texto-con-icon"> Granizo </p>
                                    </div> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="dislike"></div>
                                        <p class="negrita texto-con-icon"> Daños parciales por inundacion </p>
                                    </div> 
                                </li>
        
                            </ul>
        
                        </div>
        
                        </div>
                    </div>
        
        
                    <div class="cajita">
                        <div class="contenido-de-cajita">
        
                            <div class="box1">
        
                                <h3 class="titulos-planes"> <strong> Más:</strong> Terceros Completos Plus</h3>
        
                                <ul>
                                    <li>  <p>Te cubrimos granizo, Cristales, cerraduras y ruedas sin límites.</p> </li>
                                </ul>
                                
                                <a href="#" class="boton azul boton-plan boton-productos">Contratar Online </a>
        
                        </div>
        
        
                        <div class="box2">
        
                            <ul class="lista-de-cobertura">
        
                                <li>  <p class="negrita">  Este plan incluye:</p> 
                                </li> 
        
                                <li>  <div class="img-texto">
                                            <div class="like"></div>
                                            <p class="negrita texto-con-icon">  Responsabilidad Civil</p>
                                        </div>
                                </li>  
        
                                <li>
                                    <div class="img-texto">   
                                            <div class="like"></div>
                                            <p class="negrita texto-con-icon"> Robo e incendio parcial </p>
                                    </div> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Incendio, daños y robo total </p>
                                    </div> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Cristales </p>
                                    </div>
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Cerradura </p>
                                    </div> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Granizo </p>
                                    </div> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Daños parciales por inundacion </p>
                                    </div> 
                                </li>
        
                                <li><p class="semititulo">Este plan no incluye:</p> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="dislike"></div>
                                        <p class="negrita texto-con-icon"> Daños parciales con franquicia </p>
                                    </div> 
                                </li>   
        
        
                                
                            
        
                            </ul>
        
                        </div>
        
                        </div>
                    </div>
        
        
                    <div class="cajita">
                        <div class="contenido-de-cajita">
        
                            <div class="box1">
        
                                <h3 class="titulos-planes"> <strong> Full:</strong> Todo Riesgo </h3>
        
                                <ul>
                                    <li>  <p>Te cubrimos los daños parciales superiores o la franquicia que elijas.</p> </li>
                                </ul>
                                
                                <a href="#" class="boton azul boton-plan boton-productos">Contratar Online </a>
        
                        </div>
        
        
                        <div class="box2">
        
                            <ul class="lista-de-cobertura">
        
                                <li>  <p class="negrita">  Este plan incluye:</p> 
                                </li> 
        
                                <li>  <div class="img-texto">
                                            <div class="like"></div>
                                            <p class="negrita texto-con-icon">  Responsabilidad Civil</p>
                                        </div>
                                </li>  
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Daños parciales con franquicia </p>
                                    </div> 
                                </li>   
        
                                <li>
                                <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Robo e incendio parcial </p>
                                    </div> 
                                </li>
                                
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Incendio, daños y robo total </p>
                                    </div> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Cristales </p>
                                    </div>
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Cerradura </p>
                                    </div> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Granizo </p>
                                    </div> 
                                </li>
        
                                <li>
                                    <div class="img-texto">   
                                        <div class="like"></div>
                                        <p class="negrita texto-con-icon"> Daños parciales por inundacion </p>
                                    </div> 
                                </li>
                            </ul>
        
                        </div>
        
                        </div>
                    </div>
        
                </section>
            </div>


        <div class="footer">

            <div class="titulo-gemini"> 
              
                <div class="titulo-footer"><h2>Seguros Gemini</h2> 
   
                  <div class="fotitos-de-media">
  
                
                    <ul>
                        <li><a class="iconos-pie" href="https://www.facebook.com/"><img src="../img/iconoFacebook.JPG" alt=""></a> </li>
                        <li><a class="iconos-pie" href="https://twitter.com/"><img src="../img/IconoTwitter.JPG" alt=""> </a></li>
                        <li><a class="iconos-pie" href="https://youtube.com/"><img src="../img/iconoYoutube.JPG" alt=""></a> </li>
                        <li><a class="iconos-pie" href="https://instagram.com/"><img src="../img/iconoInstagram.JPG" alt=""></a> </li>
                        <li><a class="iconos-pie" href="https://www.linkedin.com/"><img src="../img/IconoTwitter.JPG" alt=""></a> </li>
                    </ul>
                  
                </div>
  
                </div> 
  
  
         
  
            </div>
  
            <div class="menu-footer">
              <div class="grilla">
                  <h4>Nosotros</h4>
                  <ul>
                      <li>
                          <a href="/nosotros">Nosotros</a>
                      </li>
  
                      <li>
                          <a href="#">Blog</a>
                      </li>
                      
                      <li>
                          <a href="#">Politicas de Privacidad</a>
                      </li>
                  </ul>
              </div>
  
              <div class="grilla">
                  <h4>Clientes</h4>
                  <ul>
                      <li>
                          <a href="#">Contacto</a>
                      </li>
  
                      <li><a href="#">Preguntas Frecuentes</a>     
                      </li>
                  </ul>
              </div>
  
              <div class="grilla">
                  <h4>Contacto</h4>
                  <ul>
                      <li>
                          <a href="#">Cotizá tu Auto</a>
                      </li>
  
                      <li>
                          <a href="#">atencionalcliente@gemini.com.ar</a>
                      </li>
  
                      <li>
                      <p> 0810-333-SEGURO(2668) </p>
                      </li>
  
                      <li>
                      <p> Av. Bartolomé Mitre 1249 P.B. "B" (B1604AKE), Florida Oeste, Buenos Aires, Argentina.</p>
                      </li>
                  </ul>
              </div>
        </div>   
  
        </div>

    </div>
    
</body>
</html>