<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="seguros, seguro, cobertura, auto, seguro auto, cobertura hogar, hogar">
    <meta name="description" content="Seguros Gemini trabaja para nosotros, aprender, cultura de trabajo">
    <link rel="stylesheet" href="../style/receteo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">         
    <link rel="stylesheet" href="../css/destino.css">

    <title>Honestidad, responsabilidad, asesoramiento, cultura laboral</title>
</head>
<body>

 
    
  <div class="container">

  

    <div class="container-menu">

      <div class="logo"><h1 class="titulo"> <a href="../index.html"> Seguros Gemini</a></h1>
        
      </div>

        <ul>
      
          <li>  <a href="../index.html">Home</a> </li>
          <li> <a href="./productos.html">Productos</a>   

              <ul class="subMenu">
                  <li><a href="./productos.html">Asegurar Auto</a></li>
                  <li><a href="./productos.html">Asegurar Hogar</a></li>
              </ul>
           
          </li>
          <li> <a class="somos" href="./quienesSomos.html">Quienes somos</a> </li>
          <li>  <a href="./siniestros.html">Siniestros</a> </li>
          <li>  <a href="./consultas.html">Consultas</a> </li>


        </ul>

    </div>      

   



   



    <div class="card1">
      <div class="foto1"><img src="../img/foto1.JPG" alt=""></div>
      <div class="titulo1"><h2>Quiénes Somos </h2></div>
      <div class="texto1"><p>Somos la primera insurtech en Argentina. Nuestros valores apuntan a una cultura enfocada 
        en lograr resultados increíbles dentro de un ambiente divertido y amigable en donde cada uno es dueño.
     </p></div>
    </div>
    
    <div class="card2">
      <div class="titulo2"><h2>Nuestra Visión </h2></div>
      <div class="texto2"><p>Provocar la transformación en el mundo del seguro, creando nuevas experiencias que nos acerquen a las personas.</p>
      </div>
    </div>

    <div class="card3">
      <div class="titulo-3"><h2>Nuestros Valores</h2></div>
    </div>
    <div class="card4">
      <div class="titulo4"><h3>1 - Trabajar y divertirse, en equipo:</h3></div>
      <div class="texto4"><p>Todos y cada uno de nuestros objetivos deben tener como base, el trabajo en conjunto.
        Sostener proactividad, generando un ambiente amigable y divertido, que fortalezcan las relaciones entre los integrantes del equipo. Transmitir y contagiar 
        buena energía.</p></div>
      <div class="foto4"><img src="../img/foto4.JPG" alt=""></div>
    </div>
    <div class="card5">
      <div class="foto5"><img src="../img/foto5.JPG" alt=""></div>
      <div class="titulo5"><h3>2 - Comunicar de manera clara y oportuna:</h3></div>
      <div class="texto5"><p>Ratificar que la emisión del mensaje llegue a destino de manera clara, concisa y con respectiva validación del/los receptores.
        Ser oportuno a la hora de transmitir lo que se piensa (y/o siente), con honestidad, soltura y confianza. Fomentar el feedback constructivo con, 
        y entre miembros del equipo.</p></div>
    </div>
    <div class="card6">
      <div class="titulo6"><h3>3 - Ser humilde y respetuoso:</h3></div>
      <div class="texto6"><p>Es importantísima la comprensión de las críticas constructivas u opiniones sobre nuestra labor, dado que a partir 
        de allí surge lo mejor del equipo.
        Fomentamos el buen feedback, de forma amena y constructiva.</p></div>
      <div class="foto6"><img src="../img/foto6.JPG" alt=""></div>
    </div>
    <div class="card7">
      <div class="foto7"><img src="../img/foto7.JPG" alt=""></div>
      <div class="titulo7"><h3>Desafio Aceptado</h3></div>
      <div class="texto7"><p>Estos valores apuntan a conseguir los resultados propuestos, a ir por más, a no conformarnos.
      </p></div>
    </div>




  <div class="footer">

          <div class="titulo-gemini"> 
            
              <div class="titulo-footer"><h2>Seguros Gemini</h2> 
 
                <div class="fotitos-de-media">

              
                  <ul>
                      <li><a class="iconos-pie" href="https://www.facebook.com/"><img src="../img/iconoFacebook.JPG" alt=""></a> </li>
                      <li><a class="iconos-pie" href="https://twitter.com/"><img src="../img/IconoTwitter.JPG" alt=""> </a></li>
                      <li><a class="iconos-pie" href="https://youtube.com/"><img src="../img/iconoYoutube.JPG" alt=""></a> </li>
                      <li><a class="iconos-pie" href="https://instagram.com/"><img src="../img/iconoInstagram.JPG" alt=""></a> </li>
                      <li><a class="iconos-pie" href="https://www.linkedin.com/"><img src="../img/IconoTwitter.JPG" alt=""></a> </li>
                  </ul>
                
              </div>

              </div> 


       

          </div>

          <div class="menu-footer">
            <div class="grilla">
                <h4>Nosotros</h4>
                <ul>
                    <li>
                        <a href="/nosotros">Nosotros</a>
                    </li>

                    <li>
                        <a href="#">Blog</a>
                    </li>
                    
                    <li>
                        <a href="#">Politicas de Privacidad</a>
                    </li>
                </ul>
            </div>

            <div class="grilla">
                <h4>Clientes</h4>
                <ul>
                    <li>
                        <a href="#">Contacto</a>
                    </li>

                    <li><a href="#">Preguntas Frecuentes</a>     
                    </li>
                </ul>
            </div>

            <div class="grilla">
                <h4>Contacto</h4>
                <ul>
                    <li>
                        <a href="#">Cotizá tu Auto</a>
                    </li>

                    <li>
                        <a href="#">atencionalcliente@gemini.com.ar</a>
                    </li>

                    <li>
                    <p> 0810-333-SEGURO(2668) </p>
                    </li>

                    <li>
                    <p> Av. Bartolomé Mitre 1249 P.B. "B" (B1604AKE), Florida Oeste, Buenos Aires, Argentina.</p>
                    </li>
                </ul>
            </div>
      </div>   

  </div>


  </div>
</body>
</html>