<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="siniestros, seguros, seguro, cobertura, auto, seguro auto, cobertura
     hogar, hogar">
    <meta name="description" content="Seguros Gemini te da asesoramiento en caso de siniestro, comunicate
    con nosotros, 24 horas, cobra tu seguro">
    <link rel="stylesheet" href="../style/receteo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">         
    <link rel="stylesheet" href="../css/destino.css">
    <title>Siniestros, asesoramiento y atencion 24 horas</title>
</head>
<body>

    <div class="contenedor-siniestros">

        <div class="container-menu">
            
                        
        <div class="logo"><h1 class="titulo"> <a href="../index.html"> Seguros Gemini</a></h1>
            
        </div>
                <ul>
                    <li>  <a href="../index.html">Home</a> </li>
                    <li> <a href="./productos.html">Productos</a>   

                        <ul class="subMenu">
                            <li><a href="./productos.html">Asegurar Auto</a></li>
                            <li><a href="./productos.html">Asegurar Hogar</a></li>
                        </ul>
                    
                    </li>
                    <li> <a class="somos" href="./quienesSomos.html">Quienes somos</a> </li>
                    <li>  <a href="./siniestros.html">Siniestros</a> </li>
                    <li>  <a href="./consultas.html">Consultas</a> </li>

                </ul>
        </div>

        <main class="seccion-siniestros">

       
            <div class="denuncia-siniestros">
                
                           <h3 class="titulo-terceros"> Asegurados </h3>
                            
                           <h1>Denuncia de Siniestros </h1>
    
                           <p class="texto-siniestros"> Si sos asegurado de Gemini Seguros y tuviste un siniestro, denuncialo de forma online en nuestro: </p>
    
                           <a href="#" class="boton-siniestros"> Portal de autogestión </a>
                            
    
                           <p texto-siniestros> Si todavía no tenés un usuario,  registrate con tu DNI y número de Póliza vigente, o bien contactá a tu Productor Asesor de Seguros. </p>
    
                            <p texto-siniestros> La denuncia debe estar acompañada de: </p>
    
                            <ul>
                                  <li>  Registro de conducir </li>
                                  <li>  DNI </li>
                                  <li>  Título o Cédula del vehículo </li>
                                  <li> Fotos donde se visualicen los daños del vehículo </li>
                                  <li> Denuncia policial </li>
                                  <li> Información de Terceros, que se carga en la pestaña “Datos del tercero” </li>
                            </ul>
                            
    
                          <p texto-siniestros>  Toda la documentación que necesites adjuntar la vas a poder subir en los “Archivos” de la denuncia (con un máximo de 5 mb). </p>
    
            </div>

            <div class="denuncia-terceros">
    
                
                       <h3 class="titulo-terceros"> Terceros </h3>
                       <h1> Denuncia Terceros </h1>
    
                       <p texto-siniestros> Si sos tercero y tuviste un siniestro con un asegurado de Gemini, completá el siguiente formulario y envialo vía mail junto con toda la documentación obligatoria
                         a reclamos@geminiseguros.com.ar. </p>
    
                       <p texto-siniestros> ⚠ Importante: Previamente verificaremos que el asegurado de Gemini haya realizado la denuncia administrativa y cuente con cobertura financiera. </p>
    
                      <div> <a href="#" class="boton-siniestros">Reclamo de Terceros</a> </div>
                   
                      <div> <a href="#" class="boton-siniestros">Anexo Lesiones	</a> </div>
    
                       <p texto-siniestros> Documentación a entregar: </p>
    
                        <ul>
                            <li>    Denuncia Administrativa (Efectuada en tu compañía de seguros)</li>
                            <li>    Certificado de cobertura de tu aseguradora. (Presentar Declaración Jurada si no tenés seguro)</li>
                            <li>   Carta de Franquicia (Si corresponde) </li>
                            <li>    Acta policial (Si hubo intervención policial) </li>
                            <li>   Fotos de los daños (Con por lo menos una en dónde se vea la patente del vehículo) </li>
                            <li>    Presupuesto</li>
                            <li>   Registro de conducir </li>
                            <li>   DNI </li>
                            <li>   Título o Cédula del vehículo </li>
                            <li>    Certificados médicos (Si tuviste lesiones) </li>
                        </ul>
    
            </div>
    
            <div class="foto-chica-y-remolque"> 
                <div class="foto-chica">
                        <h2 class="titulo-remolque">Servicio de asistencia al remolque</h2>  
                        <img src="../img/foto-chica.JPG" alt="">
                </div>

                <div class="foto-remolque"><img src="../img/foto-remolque.JPG" alt="">
                </div>
            </div>

        </main>

        <div class="footer">

            <div class="titulo-gemini"> 
              
                <div class="titulo-footer"><h2>Seguros Gemini</h2> 
   
                  <div class="fotitos-de-media">
  
                
                    <ul>
                        <li><a class="iconos-pie" href="https://www.facebook.com/"><img src="../img/iconoFacebook.JPG" alt=""></a> </li>
                        <li><a class="iconos-pie" href="https://twitter.com/"><img src="../img/IconoTwitter.JPG" alt=""> </a></li>
                        <li><a class="iconos-pie" href="https://youtube.com/"><img src="../img/iconoYoutube.JPG" alt=""></a> </li>
                        <li><a class="iconos-pie" href="https://instagram.com/"><img src="../img/iconoInstagram.JPG" alt=""></a> </li>
                        <li><a class="iconos-pie" href="https://www.linkedin.com/"><img src="../img/IconoTwitter.JPG" alt=""></a> </li>
                    </ul>
                  
                </div>
  
                </div> 
  
  
         
  
            </div>
  
            <div class="menu-footer">
              <div class="grilla">
                  <h4>Nosotros</h4>
                  <ul>
                      <li>
                          <a href="/nosotros">Nosotros</a>
                      </li>
  
                      <li>
                          <a href="#">Blog</a>
                      </li>
                      
                      <li>
                          <a href="#">Politicas de Privacidad</a>
                      </li>
                  </ul>
              </div>
  
              <div class="grilla">
                  <h4>Clientes</h4>
                  <ul>
                      <li>
                          <a href="#">Contacto</a>
                      </li>
  
                      <li><a href="#">Preguntas Frecuentes</a>     
                      </li>
                  </ul>
              </div>
  
              <div class="grilla">
                  <h4>Contacto</h4>
                  <ul>
                      <li>
                          <a href="#">Cotizá tu Auto</a>
                      </li>
  
                      <li>
                          <a href="#">atencionalcliente@gemini.com.ar</a>
                      </li>
  
                      <li>
                      <p> 0810-333-SEGURO(2668) </p>
                      </li>
  
                      <li>
                      <p> Av. Bartolomé Mitre 1249 P.B. "B" (B1604AKE), Florida Oeste, Buenos Aires, Argentina.</p>
                      </li>
                  </ul>
              </div>
        </div>   
  
        </div>

    </div>    
</body>
</html>